<input type="text"  [(ngModel)]="nameFilter" (ngModelChange)="filterTable()">

<select name="" id="" [(ngModel)]="countryFilter" (ngModelChange)="filterTable()">
  <ng-container *ngFor="let country of countries">
    <option [value]="country" >{{country}}</option>
  </ng-container>
  
</select>

<table>
  <thead>
    <th>Name</th>
    <th>Country</th>
    <th>Domains</th>
  </thead>
  <tbody>
    <tr *ngFor="let university of universities">
      <td>{{university.name}}</td>
      <td>{{university.country}}</td>
      <td>
        <div *ngFor="let domain of university.domains">{{domain}}</div>
      </td>
    </tr>

  </tbody>
</table>